*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:linear-gradient(135deg,#ffe4f3,#f3e8ff);
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.container{
    width:100%;
    max-width:650px;
    background:#ffffff;
    padding:35px;
    border-radius:25px;
    box-shadow:0 15px 40px rgba(186,104,200,0.2);
}

h1{
    text-align:center;
    color:#8b5cf6;
    margin-bottom:8px;
    font-size:40px;
}

.container p{
    text-align:center;
    color:#6b7280;
    margin-bottom:30px;
}

.input-section{
    display:flex;
    gap:10px;
    margin-bottom:25px;
}

.input-section input{
    flex:1;
    padding:15px;
    border:2px solid #f3d1ff;
    border-radius:12px;
    outline:none;
    font-size:16px;
    transition:.3s;
}

.input-section input:focus{
    border-color:#c084fc;
    box-shadow:0 0 10px rgba(192,132,252,.3);
}

.input-section button{
    padding:15px 22px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#ec4899,#8b5cf6);
    color:white;
    font-size:15px;
    cursor:pointer;
    transition:.3s;
}

.input-section button:hover{
    transform:scale(1.05);
}

.task-info{
    display:flex;
    justify-content:space-between;
    margin-bottom:25px;
    font-weight:bold;
    color:#7c3aed;
}

#taskList{
    list-style:none;
}

#taskList li{
    background:#fff7fd;
    border:2px solid #f8d7ff;
    border-radius:15px;
    padding:15px;
    margin-bottom:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    transition:.3s;
}

#taskList li:hover{
    transform:translateY(-4px);
    box-shadow:0 8px 20px rgba(236,72,153,.15);
}

.task-text{
    flex:1;
    color:#374151;
    font-size:16px;
}

.completed{
    text-decoration:line-through;
    color:#9ca3af;
}

.actions{
    display:flex;
    gap:10px;
}

.complete-btn{
    border:none;
    padding:8px 12px;
    border-radius:10px;
    background:#a855f7;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.complete-btn:hover{
    background:#9333ea;
}

.delete-btn{
    border:none;
    padding:8px 12px;
    border-radius:10px;
    background:#ec4899;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.delete-btn:hover{
    background:#db2777;
}

#clearBtn{
    width:100%;
    padding:15px;
    margin-top:20px;
    border:none;
    border-radius:12px;
    background:linear-gradient(135deg,#ec4899,#8b5cf6);
    color:white;
    cursor:pointer;
    transition:.3s;
}

#clearBtn:hover{
    transform:scale(1.02);
}

@media(max-width:600px){

    .input-section{
        flex-direction:column;
    }

    .task-info{
        flex-direction:column;
        text-align:center;
        gap:10px;
    }

    #taskList li{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .actions{
        width:100%;
        justify-content:flex-end;
    }

}